{% extends 'office_lunch_order/base.html' %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading"><strong>Order details:</strong></div>
    <div class="panel-body">
        <p>{{ order.name }} - {{ order.add_date }}</p>
        <p>Dzisiaj zamawia: <strong>{{ order.ordering_user }}</strong></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Kto:</th>
                <th>Co:</th>
                <th>Za ile:</th>
                <th>Gdzie:</th>
                <th>Telefon:</th>
            </tr>
            </thead>
            <tbody>
            {% for dinner in ordered_dinners %}
            <tr>
                <td>{{ dinner.user }}</td>
                <td>{{ dinner.dinner.name }}</td>
                <td>{{ dinner.dinner.price }}</td>
                <td>{{ dinner.dinner.restaurant.name }}</td>
                <td>{{ dinner.dinner.restaurant.phone_number }}</td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
        <form action="{% url 'office_lunch_order_app:close-order' %}"
              method="post">
            {% csrf_token %}
            {{ form }}
            {% if order.ordered == False %}
            <input class="btn btn-primary" type="submit"
                   value="Close order">
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}