{% extends 'office_lunch_order/base.html' %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading"><strong>Orders:</strong></div>
    <div class="panel-body">
        <ul>
            {% for order in orders %}
            <li class="list-group-item">
                <a href="/officelunchorder/order_details/{{ order.id }}/">
                {{ order.name }} ({{ order.add_date }})</a>
                {% if order.ordered == False %}
                <a href="/officelunchorder/add_order/{{ order.id }}/">
                    <button class="btn">Join
                        order
                    </button>
                </a>
                {% endif %}
                {% endfor %}
            </li>
        </ul>
        <a href="{% url 'office_lunch_order_app:new-order' %}">
            <button class="btn">New order</button>
        </a>
        <a href="{% url 'office_lunch_order_app:logged-out' %}">
            <button class="btn btn-primary">
                Logout
            </button>
        </a>
    </div>
</div>
{% endblock %}