<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
      {% block content %}
      <div> content </div>
      {% endblock %}
    <footer>
        <strong>
            Date: {{ now }}
            | App: {{ application }}
            | version: {{ version }}
		</strong>
</footer>
    </body>
</html>