{% extends 'base.html' %}

{% block content %}
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Orders:</strong></div>
    <div class="panel-body">
      <ul>
        {% for order in orders %}
          <a href="/order_details/{{ order.id }}" class="list-group-item">
            {{ order.name }} ({{ order.add_date }})
            {% if order.ordered == False %}
            <a href="/add_order/{{ order.id }}"><button class="btn">Join
              order</button></a>
            {% endif %}
          </a>
        {% endfor %}
        <p><a href="{% url 'new-order' %}"><button class="btn">New order</button></a></p>
        <p><a href="{% url 'logged-out' %}"><button class="btn btn-primary">
        Logout</button></a></p>
      </ul>
    </div>
  </div>
    {% endblock %}